 /* This is used to decorate my header and footers */
 header{background-color: gray;display: flex; text-align: center;}

 footer{background-color: gray;display: flex; text-align: center;}

 h1{color: black; flex: 0 1 60%;}

 nav {background-color: orange; flex: 0 1 40%;}
 
 nav ul {display: flex;list-style-type: none;padding: 0;}
 
 nav li {flex-grow: 1; background-color: orange; text-align: center; border: 1px solid lightgray;}

 /* This is decorating my content */

 div {display: flex;}

 div img{width:200px; length:200px; padding: 10px; border: 1px solid lightgray; background-color: white;}
 
 div content {flex-direction: column;padding: 20px;border: 1px solid lightgray; background-color: white; text-align: center;}

 main{background-color: black;}

 /* This is how I was able to set the size of my img and content to meet page sizes*/

 div {display: flex;}
 
 div img{flex: 0 1 40%;}

 content {flex: 0 1 20%;}

 aside {flex: 0 1 15%;}